@charset "UTF-8";
html{
    height: 100%;
}
body{
    background: url("chun_jie.jpg")  center center;
    background-size: cover;
    color:#ffffff;
    margin:0;
    padding: 0;
}
#first{
    width: 100%;
    text-align: center;
    transform: translateY(150%);
}
h1{
    font-size: 54px;        //字体大小
#text-transform: uppercase;       //设置为大写
text-transform:lowercase;
    margin-bottom: 20px;       //控制标题与下方元素的边距
}
p{
    font-size: 21px;
    margin-bottom: 40px;
}
a{
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff;     //细线边框宽度为1像素
    border-radius: 3px;         //圆角像素
    padding: 30px 200px;        //按钮垂直和水平方向的内边距
    text-decoration: none;      //消除链接下划线
}
